.app-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
}

.shortener-container {
  margin-bottom: 30px;
}

.url-row {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

.url-row input {
  padding: 8px;
  flex: 1;
}

button {
  margin-top: 10px;
  padding: 8px 16px;
  cursor: pointer;
}

.stats-container {
  text-align: left;
  margin-top: 20px;
}

.log-box {
  margin-top: 30px;
  background: #111;
  color: #0f0;
  text-align: left;
  padding: 10px;
  height: 200px;
  overflow-y: auto;
  font-size: 12px;
}
